body{
    margin: 0;
    background-color: rgb(73, 126, 161);
    height: 100vh;
}

.sidebar{
    background-color: rgb(61, 60, 59);
    color: white;
    height: 100vh;
    flex: 2 0;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.smallProjectName{
    margin-left: 1em;
}

.smallProjectName:hover{
    background-color: rgb(56, 99, 75);
}

.sidebarHeader{
    font-weight: 700;
}

.sidebarHeader:hover{
    background-color: rgb(56, 99, 75);
}

.content{
    display: flex;
}

.todoArea{
    height: 100vh;
    flex: 1 0;
    background-color: rgb(39, 35, 35);
}

.projectTab{
    height: 100vh;
    flex: 4 0;
    background-color: rgb(48, 45, 45);
    color: white;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.projectName{
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

.projectDescription{
    font-size: 1.25em;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.activeTodo{
    background-color: rgb(71, 71, 71);
}

.projectTodo{
    font-size: 1em;
    padding: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    display: flex;
    justify-content: space-between;
}

.projectTodo:hover{
    background-color: rgb(105, 104, 102);
}

.todoPanel{
    background-color: rgb(48, 45, 45);
    color: white;
    display: flex;
    margin: 2em;
    padding: 1em;
    flex-direction: column;
}

.todoCreator{
    display: flex;
    flex-direction: column;
    
}

.todoChild{
}

.flexRow{
    display: flex;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

label{
    color: white;
    font-weight: bold;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }